.margin {
  background-color: red;
  margin-top:400px;
    margin: 30px;
    margin-left:60px;
    margin-right: 60px;
}


.image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 20px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
      }
      
      .image-overlay:hover {
        opacity: 1;
      }
      
      .image-location {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }
      
      .image-camera {
        font-size: 1.2em;
        margin-top: 0.25em;
        text-align: center;
      }
/* vertical photos */
      .image-v {
        position:relative;
        width: 350px;
        height: 500px;
        object-fit: cover;
        margin: 20px;
        
      }
