/* Styling Only Related To ALL Pages */

body {
  /* padding-top: 30px; */
  margin-left: 0px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;

  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgb(225,221,217) 0%, rgb(178,186,223) 100vh);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(22,34,52);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(225,221,217);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: rgb(178,186,223);
  text-decoration: underline;
}

.active {
  color:rgb(100,120,235);
}

h1 {
  width: 100%;

  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}




.ibarra-real-nova {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}